<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/traveler.css">
    </head>
    <body>
    <div class="container" align="center">
        <div class="appTitle">ACCOUNT VERIFICATION</div>
        <div class="imgLogo"> <img align="center" src="/img/imgLogoBadge.png"/></div>
        <div align="center">
            <div class="msgLarge">Welcome Guardian!</div>

            <div class="msgLarge pad">Your signed up for <%=appName%>, the Destiny Fireteam Finder mobile app!</div>
            <div class="msgLarge pad">Please confirm that you are <%= psnId %> so that your account for the Traveler app can be verified.</div>
        </div>
        <div class="pad"/>

        <a href="/api/v1/auth/verifyconfirm/<%= token %>" class="linkBlue">
            <div>YES, that's me!<br/>I'am ready to start finding firemates!</div>
        </a>
        <div class="padSm"/>
        <a href="/api/v1/auth/about/" class="linkGreyBlue"><div>NO, that's not me.<br/> But what is <%=appName%>?</div></a>
        <div class="containerTerms" align="justify">
            By verifying your account and clicking “Yes, that’s me!,” you agree to our <span class="blueTerms">Terms</span> and that you have read our <span class="blueTerms">Data Policy</span>, including our <span class="blueTerms">Cookie Use</span>.
        </div>
    </div>
    </body>

</html>