<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/traveler.css">
</head>
<body>
<div class="jumbotron">
<div class="container" align="center">
    <div class="appTitle">ACCOUNT VERIFIED</div>
    <div class="imgLogo"> <img align="center" src="/img/imgLogoBadge.png"/></div>
    <div align="center">
        <div class="msgLarge">Great! Your account has been verified.
            <div class="pad"/>
            Welcome to <%= appName %>! If you have any issues or suggestions you may contact us at support@crossroadsapp.co
        </div>

    </div>
    <div class="pad"/>
    <a href="https://crossrd.app.link/" class="linkBlueCenter">OPEN <%=appName.toUpperCase()%></a>
    </form>
</div>
</div>
</body>

</html>