<% include header %>

    <hr>
    <h1>CONTENTS's HOME </h1>
    <form action="/admin/contents/home/moments?secret=<%= secret %>&phoneNo=<%= phoneNo %>" method="post">
      <input name="phoneNo" placeholder="Phone" type="text" value="<%= phoneNo %>">
      <input name="secret" placeholder="secret" value="<%= secret %>">
      <input name="contentid" placeholder="contentid" value="">

      <select name="visibility">
        <option value="hidden">hidden</option>
        <option value="home">home</option>

      </select>

      <select name="task">
        <option value="create_moment">Create Moments</option>
        <option value="set_visibility">Set Visibility</option>

      </select>
      <input type="submit" value="Submit">
      <br>
    </form>

    <hr>
  </div>


<% include footer %>
