
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

<main>
  <div class="jumbotron">
    <h1>Admin Console : Server</h1>
    <a href='/'>Home</a> | <a href='/admin'>Admin</a>
    <hr>
  </div>


<% include footer %>

